/*TIPOS DE FONTES*/
exemplo1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

exemplo2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/**/

/* - TAMANHO DE FONTE - */

/*
Pixels (px): Os pixels são uma unidade fixa e fornecem controle preciso sobre o tamanho do texto. No entanto, o uso de pixels 
pode limitar a flexibilidade e a acessibilidade, pois não permite que os usuários ajustem facilmente o tamanho do texto nos navegadores.
*/
p {
    font-size: 16px;
}

/*
Em: A unidade em é relativa ao tamanho da fonte do elemento pai. Isso é útil para criar designs escaláveis e manter a harmonia tipográfica.  
Assim,1em é igual ao tamanho da fonte do elemento pai. Se um elemento tem um tamanho de fonte de 16px definido pelo pai 
e você define font-size: 1.5em, então o tamanho da fonte do elemento será 24px. Veja um exemplo no quadro abaixo:
*/
p {
    font-size: 1.5em;
    /* 150% do tamanho da fonte do elemento pai */
}

/*
Rem (Root EM): Diferentemente da unidade em, que é relativa ao tamanho da fonte do elemento pai, rem é sempre calculada em relação ao tamanho 
da fonte definido no elemento raiz (<html>). Isso torna rem particularmente útil para garantir a consistência ao longo de um design, 
evitando os efeitos cumulativos que podem ocorrer com o uso de em em elementos aninhados. 
*/
html {
    font-size: 16px;
    /*Define o tamanho da fonte base para todo o documento*/
}

body {
    font-size: 1rem;
    /* Igual a 16px */
    margin: 0.5rem;
    /* 8px */
}

h1 {
    font-size: 2rem;
    /* 32px */
}

/*
Percentual (%): Define o tamanho da fonte como uma porcentagem do tamanho da fonte do elemento pai. Isso é similar ao em, mas especificado como uma porcentagem.
*/
p {
    font-size: 20%;
    /* 150% do tamanho da fonte do elemento pai */
}

/*
Viewport units: O termo "viewport" refere-se à área visível utilizada para exibir o conteúdo web em um dispositivo. 
No contexto do CSS, o viewport representa a parte da janela do navegador onde o conteúdo da página é exibido. 
Assim, as viewport units vinculam o tamanho da fonte às dimensões da viewport. 

1vw é igual a 1% da largura da viewport. 
1vh é igual a 1% da altura da viewport.
*/
h1 {
    font-size: 5vw;
    /* O tamanho da fonte é 5% da largura da viewport */
}